@font-face {
  font-family: 'Carn';
  src: local('Carn'), url("/src/fonts/Carnevalee Freakshow.ttf") format('woff');
} 

.ShedLogo {
  margin: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.bigButton {
    margin: auto;
    font-size: 40px;
    font-family: Carn;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3); /* Black background with opacity */
    border-radius: 25px;
}

.biggerButton {
  margin: auto;
  font-size: 60px;
  font-family: Carn;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3); /* Black background with opacity */
  border-radius: 25px;
}

#lobby {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Carn;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  background-color: rgba(179, 179, 179, 0.3); /* Black background with opacity */
  border-radius: 25px;
  padding: 5px 5px;

}

#mobileLobby {
  font-family: Carn;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 95%;
    background-color: rgba(179, 179, 179, 0.3); /* Black background with opacity */
    border-radius: 25px;
    padding: 20px 5px;

}

#Game {
  font-family: Carn;
  position: fixed;
  overflow: hidden;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 6%;
  margin: 0;
  padding:0;
  
}

#slider {
  color: red;
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

#overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
    background-color: rgba(0,0,0,0.3); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    margin: auto;      
    font-size: 25px;
    font-family: Carn;
  }

#EndGameChoice { 
  position: relative;
  bottom: 0%;
  font-size: 4vw;
  font-family: Carn;
  width: 50%;
  height: 6%;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.3); /* Black background with opacity */
  border-radius: 25px;
  cursor: pointer;
}

#EndScreen {
  position: fixed;
  top: 6%;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  font-family: Carn;
  width: 60%;
  height: 100px;
  z-index: 3;
  color: rgb(255, 255, 255);
}

#EndScreenImage {
  display: block;
  left: 15%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#EndScreenMessage {
   text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}





h1 {
  font-family: Carn;
  display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

h2 {
  font-family: Carn;
  display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.ContainerDiv {
  font-family: Carn;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

body {
  display: block;
  touch-action: none;
  font-family: Carn;
  background-image: url("/src/images/BackgroundPattern.png");
  background-repeat: repeat;
  background-size: 192.67px 156px;
  font-size:30px;
}

label {
  width: 100%;
}



input[type=text] {
  vertical-align: middle;
  width: 85%;
  margin: 5px 10px 5px 0;
  padding: 10px;
  font-family: 'Carn';
  box-sizing: border-box;
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.151); /* Black background with opacity */
  border-radius: 155px;
}

input[type=text]:focus {
  border: 3px solid #555;  
  border-radius: 25px;
}

.inlineSubmit {
  justify-content: left;
    align-items: center;
    width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  
}

#inputButton {
  vertical-align: middle;
  padding: 0;
  width: 4vh;
  height: 4vh;
  border: 0;
  background: transparent;
  background-image: url(/src/images/icons/send.png);
  background-size: cover; 
  color: #333;
  cursor: pointer;
  outline: 0;
}


#menuBar {
  position: absolute; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%;
  font-family: Carn;
  height: 6%;
  background-color:rgba(255, 51, 0, 1);
  z-index: 3;
}

#MenuContainer {
  float: left;
  height: 100%;
}
#MenuButton {
  padding: 0;
  width: 6vh;
  height: 100%;
  border: 0;
  background: transparent;
  background-image: url(/src/images/icons/menu.png);
  background-size: cover; 
  color: #333;
  cursor: pointer;
  outline: 0;
}

.LeftDropdown {
  position: absolute;
  top: 7vh;
  left: 1%;
  width: 300px;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.301);
  background-color: rgba(179, 179, 179, 0.3); /* Black background with opacity */
    border-radius: 25px;
    padding: 10px 5px;
  color: aliceblue;
}

.centerDropdown {
  position: absolute;
  top: 6.2vh;
  left: 12.5%;
  width: 75%;
  font-size: 3vh;
  line-height: 80%;
  padding: 10px 5px;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.301);
  background-color: rgba(80, 80, 80, 0.6); /* Black background with opacity */
    border-radius: 25px;
   
  color: aliceblue;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgba(119, 119, 119, 0.219);
}
li {
  padding: 8px 12px;
  justify-content: center;
  display: flex;
  justify-content: center;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.14);
  left: 0;
  cursor: pointer;
}

#ChatContainer {
  float: right;
  height: 100%;
}

#ChatButton {
  width: 6vh;
  height: 6vh;
  border: 0;
  background: transparent;
  background-image: url(/src/images/icons/chat.png);
  background-size: cover; 
  color: #333;
  cursor: pointer;
  outline: 0;
}

.chatSubmit {
  position: absolute;
  bottom: 10px;
  justify-content: left;
    align-items: center;
    vertical-align: middle;
    width: 100%;
  display: flex;
  flex-flow: row wrap;
  
  
}


#sendButton {
  vertical-align: middle;
  padding: 0;
  width: 4vh;
  height: 4vh;
  border: 0;
  background: transparent;
  background-image: url(/src/images/icons/send.png);
  background-size: cover; 
  color: #333;
  cursor: pointer;
  outline: 0;
}

#rulesImage {
  display: inline-block;
  vertical-align: middle;
  width: 6vh;
  padding: 0;
  border: 0;
  background: transparent;
  color: #333;
  cursor: pointer;
  outline: 0;
}

.RightDropdown {
  position: absolute;
  top: 7vh;
  right: 1%;
  width: 350px;
  height: 80vh;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.301);
  background-color: rgba(179, 179, 179, 0.3); /* Black background with opacity */
    border-radius: 25px;
    padding: 5px 5px;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px  rgba(255, 51, 0, 1);
  overflow-wrap: break-word;
  word-break: break-all; 
}

.Notification {
  position: absolute;
  font-size: 25px;
  top: 7vh;
  right: 1%;
  width: 350px;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.301);
  background-color: rgba(179, 179, 179, 0.3); /* Black background with opacity */
    border-radius: 25px;
    padding: 5px 5px;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px  rgba(255, 51, 0, 1);
  overflow-wrap: break-word;
  word-break: break-all; 
}

#messagesList {
  position: relative;
  display: inline-block;
  text-align: left;
  left: 2.5%;
  width: 95%;
  height: 72vh;
  font-size: 25px;
  line-height: 1;
  background-color: transparent;
  overflow-wrap: break-word;
  overflow: scroll;
  overflow-x: hidden
}

#messageItem {
  display: inline-block;
  text-align: left;
  width: 95%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f12f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#NotificationBubble {
  position: absolute;
  top: 3vh;
  right: 30px;
  font-size: 2vh;
  padding: 0.3vh 0.5vh;
  border-radius: 50%;
  background: rgb(0, 26, 255);
  color: white;
}

.lds-dual-ring {
  display: inline-block;
  width: 180px;
  height: 180px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 164px;
  height: 164px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
