body {
  margin: 0;
  font-family: 'pixelFont';
  background-color: rgb(78, 78, 78);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'pixelFont';
  src: local('pixelFont'), url("/src/fonts/DotGothic16-Regular.ttf") format('woff');
}