body {
  margin: 0;
  font-family: 'Carn';
  background-color: rgb(78, 78, 78);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Carn';
  src: local('Carn'), url("/src/fonts/Carnevalee Freakshow.ttf") format('woff');
} 